<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="./../../public/style.css" />
</head>

<body style="background:#333; color:#ddd">
  {{title}}
  <div class="signup">
    Username <input type="text" id="username"><br />
    Email <input type="email" id="email"><br />
    Password <input type="password" id="password"><br />
    <button id="btn">Click</button>
  </div>
  <script type="text/javascript" src="../../public/signup.js"></script>
</body>

</html>